div.content {
	padding-top: 25px;
}

h1, h2, h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
}

a {
	text-decoration: none;
}

#menu a {
	text-decoration: none;
}

#menu a:link {
	color: black;
}

#menu a:visited {
	color: black;
}

#menu a:hover {
	color: gray;
}

#site {
	max-width: 680px;
	margin: 0 auto;
}

img.margin {
	margin: 10px;
}

#title00 {
    font-family: 'League Script', cursive;
    text-align: center;
    font-size: 75pt;
    font-weight: bold;
}

#menu li{
    display:inline-block;
    width: 19%;
    min-width: 100px;
    font-family: 'Raleway', sans-serif;
}

ul#menu {
	list-style:none;
    padding-left:0;
	text-align: center;	
}

#menu .active {
	text-decoration: underline;
}

#pictures {
	background-color: rgb(225, 225, 225);
	overflow: auto;
	padding: 1%;
}

.square {
	float:left;
    position: relative;
    width: 30%;
    padding-bottom: 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    overflow:hidden;
    background-color: white;
}

.contentsquare, .contentsquareh {
    position:absolute;  
    height: 100%; 
}

.textsquare {
	position:absolute;
	height:80%; /* = 100% - 2*10% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 10% 5%;
    font-family: 'Raleway', sans-serif;
}

.contentsquare img {
	height:100%;
}

.contentsquareh img {
	width:100%;
}